extends layout.pug

block content
	h1= association.name 
	each category in association.categories
		h2= category.name
		.table-wrapper
			table.table.table-striped.table-bordered.table-hover
				thead
					th Marque
					th Model
					th Caution
					th Etat
					th Commentaires
					th Commandes
				tbody
					each article in category.articles
						tr
							td= article.brand
							td= article.model
							td= article.price + " €"
							td= article.active?"OK":"Indisponible"
							td= article.comment
							td
								button.btn.btn-sm.btn-primary(type="button",onclick="location.href = '/association/"+association.login+"/lend/'") Prêter
								button.btn.btn-sm.btn-info(type="button",onclick="location.href = '/articles/edit/"+article.id+"'") Editer
								button.btn.btn-sm.btn-danger(type="button",onclick="location.href = '/articles/delete/"+article.id+"'") Delete